@import '__vars';

.doxes-container {
    display: grid;
    justify-items: center;
    h1 {
        text-align: center;
    }
}

.delete-dox-popup {
    animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
    background: $black;
    .delete-dox-items {
        border-radius: 5px 5px 0 0;
        padding: 1em;
        border: 3px solid $muted;
        .delete-dox-close-icon {
            justify-content: end;
        }
        p {
            color: $red;
            font-weight: 600;
        }
    }

    .delete-dox-buttons {
        border-radius: 0 0 5px 5px;
        padding: 1em;
        justify-content: end;
        align-items: center;
        background: $black;
        border-bottom: 3px solid $muted;
        border-right: 3px solid $muted;
        border-left: 3px solid $muted;
        button {
            font-family: 'Montserrat', sans-serif;
            outline: 0;
            color: $white;
            margin-left: 1em;
            padding: 5px 1em;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            &:hover {
                cursor: pointer;
            }
        }

        .delete-dox-cancel-button {
            border: 3px solid $muted;
            background: $muted;
            &:hover {
                border: 3px solid $second-color;
                background: $second-color;
            }
        }

        .delete-dox-accept-button {
            background: $red;
            border: 3px solid $red;

            &:hover {
                background-color: #c91e33;
                border: 3px solid #c91e33;
            }
        }
    }
}

.dox-table-margin {
    margin-bottom: 3em;
}

.dox-table-card {
    width: 600px;
    

    .dox-table-avatar {
        color: $red;
        justify-content: space-between;
    }
    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: .5em;
        border: 1px solid $red;
        background-color: $red;
    }

    .dox-table-username {
        padding: .5em 0;
        align-items: center;
    }

    .dox-table-author {
        word-break: break-all;
    }

    .dox-table-preview {
        word-break: break-all;
        margin: .2em 0 1em 0;
        font-size: 14px;
        grid-row: 1/2;
    }

    .dox-table-stats {
        display: grid;
        grid-gap: 5px;
        grid-template-rows: (2, 1fr);
    }

    .dox-table-buttons {
        justify-content: space-between;
        align-items: center;
        font-size: 13px;
        grid-row: 1/2;
    }

    .dox-table-title {
        font-weight: 600;
    }

    .dox-table-icon {
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
            margin-left: 5px;
        }
    }
}


.search-form {
    form {
        display: grid;
        grid-template-rows: (3, 1fr);
    }
    input {
        font-family: 'Montserrat', sans-serif;
        grid-row: 2/3;
        width: auto;
        outline: 0;
        background: $muted;
        padding: 10px;
        border: 3px solid $second-color;
        color: $white;
    }
    button {
        font-family: 'Montserrat', sans-serif;
        grid-row: 1/3;
        border: 3px solid $red;
        background: none;
        color: $white;
        border-radius: 0 5px 5px 0;
        background: none;
        &:hover {
            background: $red;
            transition: .2s all ease-in-out;
            cursor: pointer;
        }
    }
}

@media (max-width: $tablet) {
    .search-form {
        width: auto;
    }
    .dox-table-card {
        width: 100%;
        .dox-table-username {
            justify-content: space-between;
        }
    }

    .dox-table-icon {
        margin: 0 5px;
    }
}